<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">

      <wizard
            category="org.eclipse.imp.wizards/org.eclipse.imp.wizards.core"
            class="org.eclipse.imp.preferences.wizards.NewPreferencesSpecificationWizard"
            icon="icons/sample.gif"
            id="org.eclipse.imp.wizards.NewPreferencesSpecification"
            name="Preferences Specification"/>
   </extension>
   <extension
         id="org.eclipse.imp.preferences.cheatsheet"
         name="IMP Preferences Cheat Sheet"
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
         name="IMP"
         id="org.eclipse.imp">
      </category>
	  <cheatsheet
         name="J) New Preference Service and Pages"
         category="org.eclipse.imp"
         id="org.eclipse.imp.preferences.cheatsheet.preferenceServiceAndPages"
         contentFile="cheatsheet/NewPreferenceServiceAndPages.xml">
         <description>
           Creating a preference service and page for your IMP IDE
         </description>
      </cheatsheet>
   </extension>

</plugin>
